/*
 * jQuery Nivo Slider v3.0.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%
	height:600px
	overflow: hidden;	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	/*
	-webkit-border-radius: .5em .5em .5em .5em; 
	-moz-border-radius: .5em .5em .5em .5em;
	border-radius: .5em .5em .5em .5em;
	*/
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}


/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;	
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;	
}
.nivo-box img { display:block; }




